*{
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
}

body{
    background: #FBF3D1;
}


header{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: #FBF3D1;
}

.nav{
    text-align: center;
    text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;

}

ul li a {
  display: block;
  color: black;

  margin: 10px 2px;
  padding: 14px 16px;
  text-decoration: none;
  
  border-radius: 15px;

  font-size: 25px;
  font-family:'Segoe UI', sans-serif;
}

.logo{
    float: left;
    margin-top: 18px;
    margin-left: 50px;
    margin-right: 250px;
    font-size: 35px;
}

ul li a:hover {
  background-color: #837d71;
}