header{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    color: white;
    text-align: center;
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0%;
    padding: 0%;

    display: flex;
    justify-content: center;
    background-color: #B6AE9F;

    position: sticky;
    width: 50%;
}

ul li a.active{
    background-color: #837d71;
}

a{
    text-decoration: none;
}